ion-icon {
  --color:black;
}

ion-toolbar {
  height: 60px;
  --background:#00995D;
  --color:white;
  ion-title {
    font-size: 16px;
    font-weight: bold;
  }
}

ion-content {
  --background:#F2F2F2;
  ion-list {
    ion-label {
      font-size: 15px;
    }
  }
}

ion-segment {
  height: 48px;
  ion-segment-button {
    font-size: 12px;
    --background:#006B3E;
    --background-checked:#006B3E;
    --color:#00BB6C;
    --color-checked:white;
    --indicator-height:4px;
    --indicator-color: #BED700;
  }
}

ion-text {
  color: #5B5C65;
  h1 {
    font-size: 13px;
  }
}

ion-datetime {
  font-size: 16px;
}

.card-date {
  --background:white;
  --color:#00995D;
  border-radius: 5px;
  ion-card-content{
    height: 60px;
    ion-row{
      margin-top: -12px;
    }
  }
}

ion-input {
  height: 50px;
  border: 1px solid #CFD3D6;
  border-radius: 5px;
  --background:white;
  --color:#5B5C85;
  font-size: 12px;
}

.aniversariantes-card {
  border-radius: 5px;
  --color:#5B5C65;
  ion-card-header {
    padding-bottom: 0;
  }
  ion-row {
    border-bottom: 1px solid #DEDEDE;
    ion-card-title {
      font-weight: bold;
      font-size: 16px;
      --color:#5B5C65;
    }

  }
  ion-item{
    --padding-start:0;
    font-size: 15px;
    --color:#1E1E1E;
    height: 35px;
    display: flex;
    align-items: center;
  }
}

.font-bold {
  font-weight: bold;
}

.default-padding {
  padding: 8.5px;
}

.calendar-day {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
